@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('login.css');

:root{
	--blue: rgba(100, 190, 255);
	--bg-body: rgba(240, 240, 240, .9);
	--grey: rgba(150, 150, 150);
	--white: #ffffff;
}

body{
	width: 100%;
	height: 100vh;

	background: var(--bg-body);
	font-family: 'Montserrat', sans-serif;

	font-size: 14px;
}

a{
	text-decoration: none;
}

main{
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

#container{
	display: flex;
	align-items: center;

	height: 70vh;
	width: 80vw;

	border-radius: 2em;
}